<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718619582525-23j58rfu9sk0d7ekk3mmq4v3m56miu6c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718619582525-23j58rfu9sk0d7ekk3mmq4v3m56miu6c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>718619582525-4f3u6mbgvoo4frdphha2lhjlcfuions9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAN4ZL26Pkf0ubB4XTzAD8GDbHkESf3uWw</string>
	<key>GCM_SENDER_ID</key>
	<string>718619582525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-b7dad</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-b7dad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718619582525:ios:d1ead40b9d4198b5d80a54</string>
</dict>
</plist>